.top1{
    position: relative;
    margin-left: 300px;
    margin-top: 90px;
}
.songCover{
    float: left;
    margin-top:40px;
    margin-left:40px;
    margin-right: 40px;
    width: 250px;
    height: 250px;
    border-radius: 7px;
}
.master{
    position: absolute;
    top:40px;
    left:320px;
}
.master,a span{
    font-size: 18px;
}
.playAll{
    position: absolute;
    top:85px;
    width: 200px;
    height: 40px;
    padding: 2px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 20px;
    background-color: rgb(236, 65, 65);
    cursor: pointer;
}
.playAll:hover{
    background-color: rgb(204, 50, 50);
}
.btnn{
    position: absolute;
    width: 160px;
    height: 40px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.btnn:hover{
    background-color: rgb(242, 242, 242);
}
.btn1{
    top:85px;
    left:220px;
}
.btn2{
    top:85px;
    left:400px;
}
.btn3{
    top:85px;
    left:580px;
}
.sta{
    position: absolute;
    top:150px;
    font-size: 18px;
}
.sta p{
    margin: 8px;
    font-size: 17px;
}
.states{
    margin-top: 50px;
}
.statesOn{
    float: right;
}
.change{
    position: absolute;
    top:350px;
    left:35px;
}
.search1{
    right:-1200px;
    height: 50px;
    width: 240px;
    margin-left: 20px;
    outline: none;
    border-radius: 25px 25px 25px 25px;
    font-size: 18px;
    background-color: rgb(247, 247, 247);         
    background-image:url(../images/search1.png);
    background-repeat: no-repeat;
    background-position: 200px 12px;
    background-size: 25px;
    text-indent: 15px;
}
.listHeader{
    position:absolute;
    top:430px;
}
.listHeader1{
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: grey;
    background-color: rgb(255, 255, 255);
}
.listHeader1:hover{
    background-color: rgb(240, 241, 242);
}
.list{
    position: absolute;
    top:480px;
    left:2px;
    padding-bottom: 100px;
}
.listItem{
    position: relative;
    height: 45px;
    background-color: rgb(249, 249, 249);
}
.listItem:hover{
    background-color: rgb(240, 241, 242);
}
.listItem1{
    background-color: rgb(255, 255, 255);
}
.num{
    color:rgb(177, 177, 177);
    font-size: 18px;
    margin-left: 2%;
    margin-right: 2%;
}
.mes{
    position: absolute;
    font-size: 20px;
    color:rgba(54, 54, 54, 0.938);
    top:10px;
}
.running{
    position: absolute;
    z-index: 15;
    top:80px;
    left:50%;
    margin-left: -280px;
    width: 560px;
    height: 5px;
    background-color: rgb(205,205,205);
    cursor: pointer;
}
.runningGrey{
    position: absolute;
    z-index: 16;
    top:80px;
    left:50%;
    margin-left: -280px;
    width: 0px;
    height: 5px;
    background-color: rgb(255, 78, 78);
    cursor: pointer;
}
.Pdot{
    position: absolute;
    top:-6px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 78, 78);
    cursor: pointer;
}
.totalTime{
    position: absolute;
    top:70px;
    left:66%;
}
.nowTime{
    position: absolute;
    top:70px;
    left:33%;
}
.volum{
    z-index: 14;
    float:right;
    width: 40px;
    height: 130px;
    margin-top: -110px;
    margin-right: 155px;
    background-color: #fff;
    box-shadow: 2px 2px 6px grey;
    display: none;
}
.l{
    width: 7px;
    height: 100px;
    margin-left: 15px;
    margin-top: 10px;
    background-color: rgb(236, 65, 65);
    cursor: pointer;
}
.d{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(236, 65, 65);
    margin-left: 12px;
    margin-top: -7px;
}

.comment{
    margin-left: 300px;
    position: absolute;
    top:520px;
    left:10px;
    height: 100%;
    width: 100%;
    display: none;
}
.cNum{
    font-size: 20px;
    font-weight: 900;
    margin: 30px;
}
.Chead{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
}
.comments{
    margin-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(242, 242, 242);
}
.Ctext{
    margin-top:-55px;
    margin-left:100px;
}
.Cinner{
    font-size: 18px;
}
.Ctime{
    font-size: 16px;
    margin-top: 10px;
    margin-left: -5px;
}
.CCright{
    float: right;
    margin-top: -20px;
    margin-right: 400px;
}
.date{
    margin-left: 20px;
}